.title{
    font-weight: 500;
    font-size: 14px;   
    line-height: 36px; 
}
@media(min-width: 768px){
    .title{
        font-size: 35px;   
        line-height: 42px; 
    }
}
@media (min-width:1200px){
    .title{
        font-size: 70px;   
        line-height: 88px; 
    }
}